extends layout

block content  
    
	if !user.phoneNumber
		section.user_profile.inner_pages(style='padding-top: 1%;')
			.container
				h5.uppercase.underline #{translation.PLEASE_ENTER_YOUR_PHONE_NUMBER}
				form(action='/profile/addphonenumber', method='post')
					.form-group
						label.control-label #{translation.PHONE_NUMBER}
						input.form-control(type='number' , name='phoneNumber',placeholder=translation.PHONE_NUMBER,required='')
					.form-group
						button.btn(style='width: 100%;', type='submit')
							| #{translation.SAVE}
							span.angle_arrow
								i.fa.fa-angle-right(aria-hidden='true')
	else
		section.user_profile.inner_pages(style='padding-top: 1%;')
			.container
				ul.coustom-breadcrumb
					li
						a(href='/', style='color: #1e96fe') #{translation.HOME_TXT}
					li
						a(style='color: #1e96fe') >
					li(style='color: #1e96fe') #{translation.POST_A_VEHICLE}
				//- .user_profile_info.gray-bg.padding_4x4_40
					//- .upload_user_logo
					//- 	img(src='/images/222x172.jpg', alt='image')
					//- 	.upload_newlogo
					//- 		input(name='upload', type='file')
					//- .dealer_info
					//- 	h5 Muhannad Group
					//- 	p Iraq - Sulaymaniyah
				.row
					.col-md-3.col-sm-3
						.profile_nav
							ul
								li
									a(href='/profile/myprofile') #{translation.PROFILE_SETTING}
								li
									a(href='/profile/myvehicles') #{translation.MY_VEHICLES}
								li
									a(href='/parts/myvehicleparts') #{translation.MY_VEHICLE_PARTS}
								li.active
									a(href='/car/addnewcar') #{translation.POST_A_VEHICLE}
								li
									a(href='/parts/addCarPart') #{translation.POST_A_VEHICLE_PART}
								li
									a(href='/auth/logout') #{translation.SIGN_OUT}
					.col-md-6.col-sm-8
						.profile_wrap
							h5.uppercase.underline #{translation.POST_A_VEHICLE}
							form(action='/car/addnewcar', method='post', encType="multipart/form-data")
								.form-group
									label.control-label #{translation.MAKE}
									.select
										select#makes.form-control.white_bg(name='make',required="")
											option(value="") #{translation.SELECT_BRAND}
								.form-group
									label.control-label #{translation.MODEL}
									.select
										select#models.form-control.white_bg(name="model",required="")
											option(value="") #{translation.SELECT_MODEL}
								.form-group
									label.control-label #{translation.MODEL_YEAR}
									.select
										select#year.form-control.white_bg(name="year",required="")
											option(value="") #{translation.SELECT_YEAR}
								.form-group
									label.control-label #{translation.CITY}
									.select
										select.form-control.white_bg(name="location")
											option(value='Hawler') #{translation.CITY_HAWLER}
											option(value='Slemany') #{translation.CITY_SLEMANY}
											option(value='Duhok') #{translation.CITY_DUHOK}
											option(value='Halabja') #{translation.CITY_HALABJA}
											option(value='Kirkuk') #{translation.CITY_KIRKUK}
											option(value='Baghdad') #{translation.CITY_BAGHDAD}
											option(value='Mosul') #{translation.CITY_MOSUL}
											option(value='Basra') #{translation.CITY_BASRA}
											option(value='Salah Al Din') #{translation.CITY_SALAH_AL_DIN}
											option(value='Diyala') #{translation.CITY_DIYALA}
											option(value='Wasit') #{translation.CITY_WASIT}
											option(value='Maysan') #{translation.CITY_MAYSAN}
											option(value='Dhi Qar') #{translation.CITY_DHI_QAR}
											option(value='Al Muthana') #{translation.CITY_AL_MUTHANA}
											option(value='Al-Qadisiyah') #{translation.CITY_AL_QADISIYAH}
											option(value='Babil') #{translation.CITY_BABIL}
											option(value='Karbala') #{translation.CITY_KARBALA}
											option(value='Najaf') #{translation.CITY_NAJAF}
											option(value='Al Anbar') #{translation.CITY_AL_ANBAR}
								.form-group
									label.control-label #{translation.PRICE} ($)
									input#Price.form-control.white_bg(type='number',name='price',min="0",max="9999999")
								.form-group
									label.control-label #{translation.UPLOAD_IMAGE}
									.vehicle_images#gallery
										.upload_more_img
											input#gallery-photo-add(name='pics',multiple="multiple",accept="image/*", type='file')
								.gray-bg.field-title
									h6 #{translation.BASIC_INFO}
								.form-group
									label.control-label #{translation.KMS_DRIVEN}
									input#kws.form-control.white_bg(type='number',name='kmsd',min="0",max="9999999")
								.form-group
									label.control-label #{translation.ENGINE}
									input.form-control.white_bg(type='number',name='engine',min="0",max="999",step="0.01")
								.form-group
									label.control-label #{translation.FUEL_TYPE}
									.select
										select.form-control.white_bg(name="fuelType")
											option(value="",selected="") #{translation.SELECT_FUEL_TYPE}
											option(value='Petrol') #{translation.FUEL_PETROL}
											option(value='Diesel') #{translation.FUEL_DIESEL}
											option(value='LPG autogas') #{translation.FUEL_LPG_AUTOGAS}
											option(value='Electric') #{translation.FUEL_ELECTRIC}
											option(value='Hybrid') #{translation.FUEL_HYBRID}
								.form-group
									label.control-label #{translation.ROOF_TYPE}
									.select
										select.form-control.white_bg(name="roofType")
											option(value="",selected="") #{translation.SELECT_ROOF_TYPE}
											option(value='Regular') #{translation.ROOF_REGULAR}
											option(value='Convertible') #{translation.ROOF_CONVERTIBLE}
											option(value='Slide Sunroof') #{translation.ROOF_SLIDE}
											option(value='Panoramic Sunroof') #{translation.ROOF_PANORAMIC}
								.gray-bg.field-title
									h6 #{translation.TECHNICAL_SPECIFICATION}
								.form-group
									label.control-label #{translation.CYLINDERS}
									input#cylinders.form-control.white_bg(type='number',name="cylNo",،min="1",max="24")
								.form-group
									label.control-label #{translation.FEUL_TANK_CAPACITY}
									input#capacity.form-control.white_bg(type='number',name="tankCap",min="1",max="999")
								.form-group
									label.control-label #{translation.SEATING_CAPACITY}
									input#s-capacity.form-control.white_bg(type='number',name="seatCap",min="1",max="99")
								.form-group
									label.control-label #{translation.AIRBAGS}
									input#airbags.form-control.white_bg(type='number',name="airbags",min="0",max="99")
								.form-group
									label.control-label #{translation.TRANSMISSION}
									.form-check.form-check-inline
										input#inlineRadio1.form-check-input(type='radio', name='transmission', value='Automatic')
										label.form-check-label(for='inlineRadio1') #{translation.TRANSMISSION_AUTOMATIC}
									.form-check.form-check-inline
										input#inlineRadio2.form-check-input(type='radio', name='transmission', value='Manual')
										label.form-check-label(for='inlineRadio2') #{translation.TRANSMISSION_MANUAL}

								.form-group
									label.control-label #{translation.DRIVETRAIN}
									.select
										select.form-control.white_bg(name="drivetrain")
											option(value="",selected="") #{translation.SELECT_DRIVETRAIN}
											option(value='AWD') AWD
											option(value='FWD') FWD
											option(value='RWD') RWD
											option(value='4X4') 4X4
											option(value='4X2') 4X2
								.gray-bg.field-title
									h6 #{translation.ACCESSORIES}
								.vehicle_accessories
									.form-group.checkbox.col-md-6.accessories_list
										input#screen(type='checkbox', name="screen",value="Big Screen")
										label(for='screen') #{translation.BIG_SCREEN}
									.form-group.checkbox.col-md-6.accessories_list
										input#camera(type='checkbox', name="camera",value="Backup Camera")
										label(for='camera') #{translation.BACKUP_CAMERA}
									.form-group.checkbox.col-md-6.accessories_list
										input#bluetooth(type='checkbox', name="bluetooth",value="Bluetooth")
										label(for='bluetooth') #{translation.BLUETOOTH}
									.form-group.checkbox.col-md-6.accessories_list
										input#seats(type='checkbox', name="lseats",value="Leather Seats")
										label(for='seats') #{translation.LEATHER_SEATS}
									.form-group.checkbox.col-md-6.accessories_list
										input#hseats(type='checkbox', name="hseats",value="Heated Seats")
										label(for='hseats') #{translation.HEATED_SEATS}
									.form-group.checkbox.col-md-6.accessories_list
										input#starter(type='checkbox', name="starter",value="Remote Starter")
										label(for='starter') #{translation.REMOTE_STARTER}
									.form-group.checkbox.col-md-6.accessories_list
										input#cruise(type='checkbox', name="cruise",value="Cruise Control")
										label(for='cruise') #{translation.CRUISE_CONTROL}
									.form-group.checkbox.col-md-6.accessories_list
										input#ac(type='checkbox', name="ac",value="Dual Air Conditioner")
										label(for='ac') #{translation.DUAL_AIR_CONDITIONER}
								.form-group
									label.control-label #{translation.VEHICLE_OVERVIEW_DESCRIPTION}
									textarea.form-control.white_bg(rows='4',name="description",maxlength="500")
								.vehicle_type
									.form-group.radio.col-md-6.accessories_list
										input#newcar(type='radio', name='vehicle_type', value='New',required='')
										label(for='newcar') #{translation.NEW_CAR}
									.form-group.radio.col-md-6.accessories_list
										input#usedcar(type='radio', name='vehicle_type', value='Used')
										label(for='usedcar') #{translation.USED_CAR}
								.form-group
									button.btn(style='width: 100%;', type='submit')
										| #{translation.SUBMIT_AND_POST}
										span.angle_arrow
											i.fa.fa-angle-right(aria-hidden='true')
	script(src='/js/jquery.min.js')
	script(src='/js/ajax/car.js')
	//- script(src='/js/filepond-plugin-file-encode.min.js')
	//- script(src='/js/filepond-plugin-file-validate-size.min.js')
	//- script(src='/js/filepond-plugin-image-exif-orientation.min.js')
	//- script(src='/js/filepond-plugin-image-preview.min.js')
	//- script(src='/js/filepond.min.js')
	//- script(src='/js/filepond-custom.js')