extends layout

block content  
    br
    section.user_profile.inner_pages
        .container
            form(action='/auth/changepassword', method='post')
                .form-group
                    label.control-label #{translation.OLD_PASSWORD}
                    input.form-control.white_bg(type='password',name="old_password",placeholder=translation.OLD_PASSWORD,required="required")
                .form-group
                    label.control-label #{translation.NEW_PASSWORD}
                    input.form-control.white_bg(type='password',name="new_password",placeholder=translation.NEW_PASSWORD,required="required")
                .form-group
                    label.control-label #{translation.CONFIRM_PASSWORD}
                    input.form-control.white_bg(type='password',name="confirm_password",placeholder=translation.CONFIRM_PASSWORD,required="required")
                .form-group
                    button.btn(style='width: 40%;', type='submit')
                        | #{translation.CHANGE_PASSWORD}

