extends layout

block content  
    

	section.user_profile.inner_pages(style='padding-top: 1%')
		.container
			ul.coustom-breadcrumb
				li
					a(href='/', style='color: #1e96fe') Home
				li
					a(style='color: #1e96fe') >
				li(style='color: #1e96fe') Edit Vehicles
			//- .user_profile_info.gray-bg.padding_4x4_40
				//- .upload_user_logo
				//- 	img(src='/images/222x172.jpg', alt='image')
				//- 	.upload_newlogo
				//- 		input(name='upload', type='file')
				//- .dealer_info
				//- 	h5 Muhannad Group
				//- 	p Iraq - Sulaymaniyah
			.row
				.col-md-3.col-sm-3
					.profile_nav
						ul
							li
								a(href='profile-settings.html') Profile Settings
							li
								a(href='my-vehicles.html') My Vehicles
							li
								a(href='my-car-parts.html') My Vehicle Parts
							li.active
								a(href='post-vehicle.html') Post a Vehicles
							li
								a(href='post-car-parts.html') Post a Vehicle Part
							li
								a(href='#') Sign Out
				.col-md-6.col-sm-8
					.profile_wrap
						h5.uppercase.underline Edit Your Vehicle
						form(action='/car/edit/'+car._id, method='post')
							.form-group
								label.control-label Make
								.select
									select#makes.form-control.white_bg(name='make',required="")
										option(value="") Select Brand
							.form-group
								label.control-label Model
								.select
									select#models.form-control.white_bg(name="model",required="")
										option(value="") Select Model
							.form-group
								label.control-label Model Year
								.select
									select#year.form-control.white_bg(name="year",required="")
										option(value="") Select Year
							.form-group
								label.control-label City
								.select
									select.form-control.white_bg(name="location",required="")
										if car.location == "Hawler"
											option(value='Hawler',selected="") Hawler
										else
											option(value='Hawler') Hawler
										if car.location == "Slemany"
											option(value='Slemany',selected="") Slemany
										else
											option(value='Slemany') Slemany
										if car.location == "Duhok"
											option(value='Duhok',selected="") Duhok
										else
											option(value='Duhok') Duhok
										if car.location == "Halabja"
											option(value='Halabja',selected="") Halabja
										else
											option(value='Halabja') Halabja
										if car.location == "Kirkuk"
											option(value='Kirkuk',selected="") Kirkuk
										else
											option(value='Kirkuk') Kirkuk
										if car.location == "Baghdad"
											option(value='Baghdad',selected="") Baghdad
										else
											option(value='Baghdad') Baghdad
										if car.location == "Mosul"
											option(value='Mosul',selected="") Mosul
										else
											option(value='Mosul') Mosul
										if car.location == "Basra"
											option(value='Basra',selected="") Basra
										else
											option(value='Basra') Basra
										if car.location == "Salah Al Din"
											option(value='Salah Al Din',selected="") Salah Al Din
										else
											option(value='Salah Al Din') Salah Al Din
										if car.location == "Diyala"
											option(value='Diyala',selected="") Diyala
										else
											option(value='Diyala') Diyala
										if car.location == "Wasit"
											option(value='Wasit',selected="") Wasit
										else
											option(value='Wasit') Wasit
										if car.location == "Maysan"
											option(value='Maysan',selected="") Maysan
										else
											option(value='Maysan') Maysan
										if car.location == "Dhi Qar"
											option(value='Dhi Qar',selected="") Dhi Qar
										else
											option(value='Dhi Qar') Dhi Qar
										if car.location == "Al Muthana"
											option(value='Al Muthana',selected="") Al Muthana
										else
											option(value='Al Muthana') Al Muthana
										if car.location == "Al-Qadisiyah"
											option(value='Al-Qadisiyah',selected="") Al-Qadisiyah
										else
											option(value='Al-Qadisiyah') Al-Qadisiyah
										if car.location == "Babil"
											option(value='Babil',selected="") Babil
										else
											option(value='Babil') Babil
										if car.location == "Karbala"
											option(value='Karbala',selected="") Karbala
										else
											option(value='Karbala') Karbala
										if car.location == "Najaf"
											option(value='Najaf',selected="") Najaf
										else
											option(value='Najaf') Najaf
										if car.location == "Al Anbar"
											option(value='Al Anbar',selected="") Al Anbar
										else
											option(value='Al Anbar') Al Anbar
							.form-group
								label.control-label Price ($)
								input#Price.form-control.white_bg(type='number',name='price',value=car.price)
							.gray-bg.field-title
								h6 Basic Info
							.form-group
								label.control-label KMs Driven
								input#kws.form-control.white_bg(type='number',name='kmsd',value=car.kmsd)
							.form-group
								label.control-label Fuel Type
								.select
									select.form-control.white_bg(name="fuelType")
										option(value="") Select fuel type
										if car.fuelType == "Petrol"
											option(value='Petrol',selected="") Petrol
										else
											option(value='Petrol') Petrol
										if car.fuelType == "Diesel"
											option(value='Diesel',selected="") Diesel
										else
											option(value='Diesel') Diesel
										if car.fuelType == "LPG autogas"
											option(value='LPG autogas',selected="") LPG autogas
										else
											option(value='LPG autogas') LPG autogas
										if car.fuelType == "Electric"
											option(value='Electric',selected="") Electric
										else
											option(value='Electric') Electric
										if car.fuelType == "Hybrid"
											option(value='Hybrid',selected="") Hybrid
										else
											option(value='Hybrid') Hybrid
							.form-group
								label.control-label Roof Type
								.select
									select.form-control.white_bg(name="roofType")
										option(value="") Select roof type
										if car.roofType == "Regular"
											option(value='Regular',selected="") Regular
										else
											option(value='Regular') Regular
										if car.roofType == "Convertible"
											option(value='Convertible',selected="") Convertible
										else
											option(value='Convertible') Convertible
										if car.roofType == "Slide Sunroof"
											option(value='Slide Sunroof',selected="") Slide Sunroof
										else
											option(value='Slide Sunroof') Slide Sunroof
										if car.roofType == "Panoramic Sunroof"
											option(value='Panoramic Sunroof',selected="") Panoramic Sunroof
										else
											option(value='Panoramic Sunroof') Panoramic Sunroof
							.gray-bg.field-title
								h6 Technical Specification
							.form-group
								label.control-label No. of Cylinders
								input#cylinders.form-control.white_bg(type='text',name="cylNo",value=car.cylNo)
							.form-group
								label.control-label Fuel Tank Capacity
								input#capacity.form-control.white_bg(type='text',name="tankCap",value=car.tankCap)
							.form-group
								label.control-label Seating Capacity
								input#s-capacity.form-control.white_bg(type='text',name="seatCap",value=car.seatCap)
							.form-group
								label.control-label Airbags
								input#airbags.form-control.white_bg(type='number',name="airbags",value=car.airbags)
							.form-group
								label.control-label Transmission
								.form-check.form-check-inline
									if car.transmission == "Automatic"
										input#inlineRadio1.form-check-input(type='radio', name='transmission', value='Automatic',checked="")
									else
										input#inlineRadio1.form-check-input(type='radio', name='transmission', value='Automatic')
									label.form-check-label(for='inlineRadio1') Automatic
								.form-check.form-check-inline
									if car.transmission == "Manual"
										input#inlineRadio2.form-check-input(type='radio', name='transmission', value='Manual',checked="")
									else 
										input#inlineRadio2.form-check-input(type='radio', name='transmission', value='Manual')
									label.form-check-label(for='inlineRadio2') Manual
							.form-group
								label.control-label Drivetrain
								.select
									select.form-control.white_bg(name="drivetrain")
										option(value="") Select Drivetrain
										if car.drivetrain == "AWD"
											option(value='AWD',selected="") AWD
										else
											option(value='AWD') AWD
										if car.drivetrain == "FWD"
											option(value='FWD',selected="") FWD
										else
											option(value='FWD') FWD
										if car.drivetrain == "RWD"
											option(value='RWD',selected="") RWD
										else
											option(value='RWD') RWD
										if car.drivetrain == "4X4"
											option(value='4X4',selected="") 4X4
										else
											option(value='4X4') 4X4
							.gray-bg.field-title
								h6 Accessories
							.vehicle_accessories
								.form-group.checkbox.col-md-6.accessories_list
									if car.screen
										input#screen(type='checkbox', name="screen",value="Big Screen",checked="")
									else
										input#screen(type='checkbox', name="screen",value="Big Screen")
									label(for='screen') Big Screen
								.form-group.checkbox.col-md-6.accessories_list
									if car.camera
										input#camera(type='checkbox', name="camera",value="Backup Camera",checked="")
									else
										input#camera(type='checkbox', name="camera",value="Backup Camera")
									label(for='camera') Backup Camera
								.form-group.checkbox.col-md-6.accessories_list
									if car.bluetooth
										input#bluetooth(type='checkbox', name="bluetooth",value="Bluetooth",checked="")
									else
										input#bluetooth(type='checkbox', name="bluetooth",value="Bluetooth")
									label(for='bluetooth') Bluetooth
								.form-group.checkbox.col-md-6.accessories_list
									if car.lseats
										input#seats(type='checkbox', name="lseats",value="Leather Seats",checked="")
									else
										input#seats(type='checkbox', name="lseats",value="Leather Seats")
									label(for='seats') Leather Seats
								.form-group.checkbox.col-md-6.accessories_list
									if car.hseats
										input#hseats(type='checkbox', name="hseats",value="Heated Seats",checked="")
									else
										input#hseats(type='checkbox', name="hseats",value="Heated Seats")
									label(for='hseats') Heated Seats
								.form-group.checkbox.col-md-6.accessories_list
									if car.starter
										input#starter(type='checkbox', name="starter",value="Remote Starter",checked="")
									else
										input#starter(type='checkbox', name="starter",value="Remote Starter")
									label(for='starter') Remote Starter
								.form-group.checkbox.col-md-6.accessories_list
									if car.cruise
										input#cruise(type='checkbox', name="cruise",value="Cruise Control",checked="")
									else
										input#cruise(type='checkbox', name="cruise",value="Cruise Control")
									label(for='cruise') Cruise Control
								.form-group.checkbox.col-md-6.accessories_list
									if car.ac
										input#ac(type='checkbox', name="ac",value="Dual Air Conditioner",checked="")
									else
										input#ac(type='checkbox', name="ac",value="Dual Air Conditioner")
									label(for='ac') Dual Air Conditioner
							.form-group
								label.control-label Vehicle Overview Description
								textarea.form-control.white_bg(rows='4',name="description")=car.description
							.vehicle_type
								.form-group.radio.col-md-6.accessories_list
									if car.vehicle_type == "New"
										input#newcar(type='radio', name='vehicle_type', value='New',required='',checked="")
									else
										input#newcar(type='radio', name='vehicle_type', value='New',required='')
									label(for='newcar') New Car
								.form-group.radio.col-md-6.accessories_list
									if car.vehicle_type == "Used"
										input#usedcar(type='radio', name='vehicle_type', value='Used',checked)
									else
										input#usedcar(type='radio', name='vehicle_type', value='Used')
									label(for='usedcar') Used Car
							.form-group
								button.btn(style='width: 100%;', type='submit')
									| Save
									span.angle_arrow
										i.fa.fa-angle-right(aria-hidden='true')
	script(src='/js/jquery.min.js')
	script(src='/js/ajax/car.js')