extends layout

block content  
    

	section.user_profile.inner_pages(style='padding-top: 1%')
		.container
			ul.coustom-breadcrumb
				li
					a(href='/', style='color: #1e96fe') #{translation.HOME_TXT}
				li
					a(style='color: #1e96fe') >
				li(style='color: #1e96fe') #{translation.EDIT_VEHICLE}
			//- .user_profile_info.gray-bg.padding_4x4_40
				//- .upload_user_logo
				//- 	img(src='/images/222x172.jpg', alt='image')
				//- 	.upload_newlogo
				//- 		input(name='upload', type='file')
				//- .dealer_info
				//- 	h5 Muhannad Group
				//- 	p Iraq - Sulaymaniyah
			.row
				.col-md-3.col-sm-3
					.profile_nav
						ul
							li
								a(href='/profile/myprofile') #{translation.PROFILE_SETTING}
							li
								a(href='/profile/myvehicles') #{translation.MY_VEHICLES}
							li
								a(href='/parts/myvehicleparts') #{translation.MY_VEHICLE_PARTS}
							li
								a(href='/car/addnewcar') #{translation.POST_A_VEHICLE}
							li.active
								a(href='/parts/addCarPart') #{translation.POST_A_VEHICLE_PART}
							li
								a(href='/auth/logout') #{translation.SIGN_OUT}
				.col-md-6.col-sm-8
					.profile_wrap
						h5.uppercase.underline #{translation.EDIT_VEHICLE}
						form(action='/car/edit/'+car._id, method='post')
							.form-group
								label.control-label #{translation.MAKE}
								.select
									select#makes.form-control.white_bg(name='make',required="required")
										option(value="") #{translation.SELECT_BRAND}
							.form-group
								label.control-label #{translation.MODEL}
								.select
									select#models.form-control.white_bg(name="model",required="required")
										option(value="") #{translation.SELECT_MODEL}
							.form-group
								label.control-label #{translation.MODEL_YEAR}
								.select
									select#year.form-control.white_bg(name="year",required="required")
										option(value="") #{translation.SELECT_YEAR}
							.form-group
								label.control-label #{translation.CITY}
								.select
									select.form-control.white_bg(name="location",required="")
										if car.location == "Hawler"
											option(value='Hawler',selected="") #{translation.CITY_HAWLER}
										else
											option(value='Hawler') #{translation.CITY_HAWLER}
										if car.location == "Slemany"
											option(value='Slemany',selected="") #{translation.CITY_SLEMANY}
										else
											option(value='Slemany') #{translation.CITY_SLEMANY}
										if car.location == "Duhok"
											option(value='Duhok',selected="") #{translation.CITY_DUHOK}
										else
											option(value='Duhok') #{translation.CITY_DUHOK}
										if car.location == "Halabja"
											option(value='Halabja',selected="") #{translation.CITY_HALABJA}
										else
											option(value='Halabja') #{translation.CITY_HALABJA}
										if car.location == "Kirkuk"
											option(value='Kirkuk',selected="") #{translation.CITY_KIRKUK}
										else
											option(value='Kirkuk') #{translation.CITY_KIRKUK}
										if car.location == "Baghdad"
											option(value='Baghdad',selected="") #{translation.CITY_BAGHDAD}
										else
											option(value='Baghdad') #{translation.CITY_BAGHDAD}
										if car.location == "Mosul"
											option(value='Mosul',selected="") #{translation.CITY_MOSUL}
										else
											option(value='Mosul') #{translation.CITY_MOSUL}
										if car.location == "Basra"
											option(value='Basra',selected="") #{translation.CITY_BASRA}
										else
											option(value='Basra') #{translation.CITY_BASRA}
										if car.location == "Salah Al Din"
											option(value='Salah Al Din',selected="") #{translation.CITY_SALAH_AL_DIN}
										else
											option(value='Salah Al Din') #{translation.CITY_SALAH_AL_DIN}
										if car.location == "Diyala"
											option(value='Diyala',selected="") #{translation.CITY_DIYALA}
										else
											option(value='Diyala') #{translation.CITY_DIYALA}
										if car.location == "Wasit"
											option(value='Wasit',selected="") #{translation.CITY_WASIT}
										else
											option(value='Wasit') #{translation.CITY_WASIT}
										if car.location == "Maysan"
											option(value='Maysan',selected="") #{translation.CITY_MAYSAN}
										else
											option(value='Maysan') #{translation.CITY_MAYSAN}
										if car.location == "Dhi Qar"
											option(value='Dhi Qar',selected="") #{translation.CITY_DHI_QAR}
										else
											option(value='Dhi Qar') #{translation.CITY_DHI_QAR}
										if car.location == "Al Muthana"
											option(value='Al Muthana',selected="") #{translation.CITY_AL_MUTHANA}
										else
											option(value='Al Muthana') #{translation.CITY_AL_MUTHANA}
										if car.location == "Al-Qadisiyah"
											option(value='Al-Qadisiyah',selected="") #{translation.CITY_AL_QADISIYAH}
										else
											option(value='Al-Qadisiyah') #{translation.CITY_AL_QADISIYAH}
										if car.location == "Babil"
											option(value='Babil',selected="") #{translation.CITY_BABIL}
										else
											option(value='Babil') #{translation.CITY_BABIL}
										if car.location == "Karbala"
											option(value='Karbala',selected="") #{translation.CITY_KARBALA}
										else
											option(value='Karbala') #{translation.CITY_KARBALA}
										if car.location == "Najaf"
											option(value='Najaf',selected="") #{translation.CITY_NAJAF}
										else
											option(value='Najaf') #{translation.CITY_NAJAF}
										if car.location == "Al Anbar"
											option(value='Al Anbar',selected="") #{translation.CITY_AL_ANBAR}
										else
											option(value='Al Anbar') #{translation.CITY_AL_ANBAR}
							.form-group
								label.control-label #{translation.PRICE} ($)
								input#Price.form-control.white_bg(type='number',name='price',value=car.price,min="0",max="9999999")
							.gray-bg.field-title
								h6 #{translation.BASIC_INFO}
							.form-group
								label.control-label #{translation.KMS_DRIVEN}
								input#kws.form-control.white_bg(type='number',name='kmsd',value=car.kmsd,min="0",max="9999999")
							.form-group
								label.control-label #{translation.FUEL_TYPE}
								.select
									select.form-control.white_bg(name="fuelType")
										option(value="") #{translation.SELECT_FUEL_TYPE}
										if car.fuelType == "Petrol"
											option(value='Petrol',selected="") #{translation.FUEL_PETROL}
										else
											option(value='Petrol') #{translation.FUEL_PETROL}
										if car.fuelType == "Diesel"
											option(value='Diesel',selected="") #{translation.FUEL_DIESEL}
										else
											option(value='Diesel') #{translation.FUEL_DIESEL}
										if car.fuelType == "LPG autogas"
											option(value='LPG autogas',selected="") #{translation.FUEL_LPG_AUTOGAS}
										else
											option(value='LPG autogas') #{translation.FUEL_LPG_AUTOGAS}
										if car.fuelType == "Electric"
											option(value='Electric',selected="") #{translation.FUEL_ELECTRIC}
										else
											option(value='Electric') #{translation.FUEL_ELECTRIC}
										if car.fuelType == "Hybrid"
											option(value='Hybrid',selected="") #{translation.FUEL_HYBRID}
										else
											option(value='Hybrid') #{translation.FUEL_HYBRID}
							.form-group
								label.control-label #{translation.ROOF_TYPE}
								.select
									select.form-control.white_bg(name="roofType")
										option(value="") #{translation.SELECT_ROOF_TYPE}
										if car.roofType == "Regular"
											option(value='Regular',selected="") #{translation.ROOF_REGULAR}
										else
											option(value='Regular') #{translation.ROOF_REGULAR}
										if car.roofType == "Convertible"
											option(value='Convertible',selected="") #{translation.ROOF_CONVERTIBLE}
										else
											option(value='Convertible') #{translation.ROOF_CONVERTIBLE}
										if car.roofType == "Slide Sunroof"
											option(value='Slide Sunroof',selected="") #{translation.ROOF_SLIDE}
										else
											option(value='Slide Sunroof') #{translation.ROOF_SLIDE}
										if car.roofType == "Panoramic Sunroof"
											option(value='Panoramic Sunroof',selected="") #{translation.ROOF_PANORAMIC}
										else
											option(value='Panoramic Sunroof') #{translation.ROOF_PANORAMIC}
							.gray-bg.field-title
								h6 #{translation.TECHNICAL_SPECIFICATION}
							.form-group
								label.control-label #{translation.CYLINDERS}
								input#cylinders.form-control.white_bg(type='number',name="cylNo",value=car.cylNo,min="1",max="24")
							.form-group
								label.control-label #{translation.FEUL_TANK_CAPACITY}
								input#capacity.form-control.white_bg(type='number',name="tankCap",value=car.tankCap,min="1",max="999")
							.form-group
								label.control-label #{translation.SEATING_CAPACITY}
								input#s-capacity.form-control.white_bg(type='number',name="seatCap",value=car.seatCap,min="1",max="99")
							.form-group
								label.control-label #{translation.AIRBAGS}
								input#airbags.form-control.white_bg(type='number',name="airbags",value=car.airbags,min="1",max="99")
							.form-group
								label.control-label #{translation.TRANSMISSION}
								.form-check.form-check-inline
									if car.transmission == "Automatic"
										input#inlineRadio1.form-check-input(type='radio', name='transmission', value='Automatic',checked="")
									else
										input#inlineRadio1.form-check-input(type='radio', name='transmission', value='Automatic')
									label.form-check-label(for='inlineRadio1') #{translation.TRANSMISSION_AUTOMATIC}
								.form-check.form-check-inline
									if car.transmission == "Manual"
										input#inlineRadio2.form-check-input(type='radio', name='transmission', value='Manual',checked="")
									else 
										input#inlineRadio2.form-check-input(type='radio', name='transmission', value='Manual')
									label.form-check-label(for='inlineRadio2') #{translation.TRANSMISSION_MANUAL}
							.form-group
								label.control-label #{translation.DRIVETRAIN}
								.select
									select.form-control.white_bg(name="drivetrain")
										option(value="") #{translation.SELECT_DRIVETRAIN}
										if car.drivetrain == "AWD"
											option(value='AWD',selected="") AWD
										else
											option(value='AWD') AWD
										if car.drivetrain == "FWD"
											option(value='FWD',selected="") FWD
										else
											option(value='FWD') FWD
										if car.drivetrain == "RWD"
											option(value='RWD',selected="") RWD
										else
											option(value='RWD') RWD
										if car.drivetrain == "4X4"
											option(value='4X4',selected="") 4X4
										else
											option(value='4X4') 4X4
										if car.drivetrain == "2X4"
											option(value='2X4',selected="") 2X4
										else
											option(value='2X4') 2X4
							.gray-bg.field-title
								h6 #{translation.ACCESSORIES}
							.vehicle_accessories
								.form-group.checkbox.col-md-6.accessories_list
									if car.screen
										input#screen(type='checkbox', name="screen",value="Big Screen",checked="")
									else
										input#screen(type='checkbox', name="screen",value="Big Screen")
									label(for='screen') #{translation.BIG_SCREEN}
								.form-group.checkbox.col-md-6.accessories_list
									if car.camera
										input#camera(type='checkbox', name="camera",value="Backup Camera",checked="")
									else
										input#camera(type='checkbox', name="camera",value="Backup Camera")
									label(for='camera') #{translation.BACKUP_CAMERA}
								.form-group.checkbox.col-md-6.accessories_list
									if car.bluetooth
										input#bluetooth(type='checkbox', name="bluetooth",value="Bluetooth",checked="")
									else
										input#bluetooth(type='checkbox', name="bluetooth",value="Bluetooth")
									label(for='bluetooth') #{translation.BLUETOOTH}
								.form-group.checkbox.col-md-6.accessories_list
									if car.lseats
										input#seats(type='checkbox', name="lseats",value="Leather Seats",checked="")
									else
										input#seats(type='checkbox', name="lseats",value="Leather Seats")
									label(for='seats') #{translation.LEATHER_SEATS}
								.form-group.checkbox.col-md-6.accessories_list
									if car.hseats
										input#hseats(type='checkbox', name="hseats",value="Heated Seats",checked="")
									else
										input#hseats(type='checkbox', name="hseats",value="Heated Seats")
									label(for='hseats') #{translation.HEATED_SEATS}
								.form-group.checkbox.col-md-6.accessories_list
									if car.starter
										input#starter(type='checkbox', name="starter",value="Remote Starter",checked="")
									else
										input#starter(type='checkbox', name="starter",value="Remote Starter")
									label(for='starter') #{translation.REMOTE_STARTER}
								.form-group.checkbox.col-md-6.accessories_list
									if car.cruise
										input#cruise(type='checkbox', name="cruise",value="Cruise Control",checked="")
									else
										input#cruise(type='checkbox', name="cruise",value="Cruise Control")
									label(for='cruise') #{translation.CRUISE_CONTROL}
								.form-group.checkbox.col-md-6.accessories_list
									if car.ac
										input#ac(type='checkbox', name="ac",value="Dual Air Conditioner",checked="")
									else
										input#ac(type='checkbox', name="ac",value="Dual Air Conditioner")
									label(for='ac') #{translation.DUAL_AIR_CONDITIONER}
							.form-group
								label.control-label #{translation.VEHICLE_OVERVIEW_DESCRIPTION}
								textarea.form-control.white_bg(rows='4',name="description",maxlength="500")=car.description
							.vehicle_type
								.form-group.radio.col-md-6.accessories_list
									if car.vehicle_type == "New"
										input#newcar(type='radio', name='vehicle_type', value='New',required='',checked="")
									else
										input#newcar(type='radio', name='vehicle_type', value='New',required='')
									label(for='newcar') #{translation.NEW_CAR}
								.form-group.radio.col-md-6.accessories_list
									if car.vehicle_type == "Used"
										input#usedcar(type='radio', name='vehicle_type', value='Used',checked)
									else
										input#usedcar(type='radio', name='vehicle_type', value='Used')
									label(for='usedcar') #{translation.USED_CAR}
							.form-group
								button.btn(style='width: 100%;', type='submit')
									| #{translation.SAVE}
									span.angle_arrow
										i.fa.fa-angle-right(aria-hidden='true')
	script(src='/js/jquery.min.js')
	script(src='/js/ajax/car.js')