extends layout

block content
    section.listing-page(style="padding-top: 1%")
        .container
            ul.coustom-breadcrumb
                li
                    a(href='/', style='color: #1e96fe;') #{translation.HOME_TXT}
                li
                    a(style='color: #1e96fe;') >
                li(style='color: #1e96fe;') #{translation.CAR_LISTING}
            .row
                .col-md-9.col-md-push-3
                    .result-sorting-wrapper
                        .sorting-count
                            p
                                span #{result.totalDocs} #{translation.RESULTS_FOUND}.
                        //- .result-sorting-by
                        //-     p Sort by:
                        //-     form(action='#', method='post')
                        //-         .form-group.select.sorting-select
                        //-             select.form-control
                        //-                 option Price (low to high)
                        //-                 option Price (high to low)
                        //-                 option Newest Items
                    .row
                        each doc, i in result.docs
                            .col-md-4.grid_listing
                                .product-listing-m.gray-bg
                                    .product-listing-img
                                        a(href='/car/forsale/'+doc._id)
                                            if(doc.pics[0])
                                                img.img-responsive(src="/uploads/carpics/"+doc.pics[0], alt='image')
                                            if(!doc.pics[0])
                                                img.img-responsive(src="/images/Car-Placeholder.jpg", alt='image')
                                        .label_icon #{doc.vehicle_type}
                                        //- .compare_item
                                        //-     .checkbox
                                        //-         input#compare10(type='checkbox', value='')
                                    .product-listing-content
                                        h5
                                            a(href='/car/forsale/'+doc._id) #{doc.model}
                                        p.list-price $ #{doc.price}
                                        .car-location
                                            span
                                                if doc.location == "Hawler"
                                                    i.fa.fa-map-marker(aria-hidden='true') #{translation.CITY_HAWLER}
                                                if doc.location == "Slemany"
                                                    i.fa.fa-map-marker(aria-hidden='true') #{translation.CITY_SLEMANY}
                                                if doc.location == "Duhok"
                                                    i.fa.fa-map-marker(aria-hidden='true') #{translation.CITY_DUHOK}
                                                if doc.location == "Halabja"
                                                    i.fa.fa-map-marker(aria-hidden='true') #{translation.CITY_HALABJA}
                                                if doc.location == "Kirkuk"
                                                    i.fa.fa-map-marker(aria-hidden='true') #{translation.CITY_KIRKUK}
                                                if doc.location == "Baghdad"
                                                    i.fa.fa-map-marker(aria-hidden='true') #{translation.CITY_BAGHDAD}
                                                if doc.location == "Mosul"
                                                    i.fa.fa-map-marker(aria-hidden='true') #{translation.CITY_MOSUL}
                                                if doc.location == "Basra"
                                                    i.fa.fa-map-marker(aria-hidden='true') #{translation.CITY_BASRA}
                                                if doc.location == "Salah Al Din"
                                                    i.fa.fa-map-marker(aria-hidden='true') #{translation.CITY_SALAH_AL_DIN}
                                                if doc.location == "Diyala"
                                                    i.fa.fa-map-marker(aria-hidden='true') #{translation.CITY_DIYALA}
                                                if doc.location == "Wasit"
                                                    i.fa.fa-map-marker(aria-hidden='true') #{translation.CITY_WASIT}
                                                if doc.location == "Maysan"
                                                    i.fa.fa-map-marker(aria-hidden='true') #{translation.CITY_MAYSAN}
                                                if doc.location == "Dhi Qar"
                                                    i.fa.fa-map-marker(aria-hidden='true') #{translation.CITY_DHI_QAR}
                                                if doc.location == "Al Muthana"
                                                    i.fa.fa-map-marker(aria-hidden='true') #{translation.CITY_AL_MUTHANA}
                                                if doc.location == "Al-Qadisiyah"
                                                    i.fa.fa-map-marker(aria-hidden='true') #{translation.CITY_AL_QADISIYAH}
                                                if doc.location == "Babil"
                                                    i.fa.fa-map-marker(aria-hidden='true') #{translation.CITY_BABIL}
                                                if doc.location == "Karbala"
                                                    i.fa.fa-map-marker(aria-hidden='true') #{translation.CITY_KARBALA}
                                                if doc.location == "Najaf"
                                                    i.fa.fa-map-marker(aria-hidden='true') #{translation.CITY_NAJAF}
                                                if doc.location == "Al Anbar"
                                                    i.fa.fa-map-marker(aria-hidden='true') #{translation.CITY_AL_ANBAR}
                                        ul.features_list
                                            li
                                                i.fa.fa-road(aria-hidden='true')
                                                | #{doc.kmsd} km
                                            li
                                                i.fa.fa-tachometer(aria-hidden='true')
                                                | #{doc.drivetrain}
                                            li
                                                i.fa.fa-calendar(aria-hidden='true')
                                                | #{doc.year}
                                            li
                                                if doc.fuelType == "Petrol"
                                                    i.fa.fa-car(aria-hidden='true') #{translation.FUEL_PETROL}
                                                if doc.fuelType == "Diesel"
                                                    i.fa.fa-car(aria-hidden='true') #{translation.FUEL_DIESEL}
                                                if doc.fuelType == "LPG autogas"
                                                    i.fa.fa-car(aria-hidden='true') #{translation.FUEL_LPG_AUTOGAS}
                                                if doc.fuelType == "Electric"
                                                    i.fa.fa-car(aria-hidden='true') #{translation.FUEL_ELECTRIC}
                                                if doc.fuelType == "Hybrid"
                                                    i.fa.fa-car(aria-hidden='true') #{translation.FUEL_HYBRID}
                                                
                    .pagination
                        ul
                            - for(var i = 1; i <= result.totalPages; i++) {
                                if i == page
                                    li.current #{i}
                                if i != page
                                    li
                                        a(href="/list?page="+i+"&l="+searchType)=i
                            -}
                            //- li.current 1
                            //- li
                            //-     a(href='#') 2
                            //- li
                            //-     a(href='#') 3
                            //- li
                            //-     a(href='#') 4
                            //- li
                            //-     a(href='#') 5
                // Side-Bar
                aside.col-md-3.col-md-pull-9
                    .sidebar_widget
                        .widget_heading
                            h5
                                i.fa.fa-filter(aria-hidden='true')
                                |  #{translation.FIND_YOUR_CAR}
                        .sidebar_filter
                            form#filtSearch(action='/filtSearch', method='get')
                                .form-group.select
                                    select#location.form-control(name='location')
                                        option(value='') #{translation.ALL_LOCATIONS}
                                        option(value='Hawler') #{translation.CITY_HAWLER}
                                        option(value='Slemany') #{translation.CITY_SLEMANY}
                                        option(value='Duhok') #{translation.CITY_DUHOK}
                                        option(value='Halabja') #{translation.CITY_HALABJA}
                                        option(value='Kirkuk') #{translation.CITY_KIRKUK}
                                        option(value='Baghdad') #{translation.CITY_BAGHDAD}
                                        option(value='Mosul') #{translation.CITY_MOSUL}
                                        option(value='Basra') #{translation.CITY_BASRA}
                                        option(value='Salah Al Din') #{translation.CITY_SALAH_AL_DIN}
                                        option(value='Diyala') #{translation.CITY_DIYALA}
                                        option(value='Wasit') #{translation.CITY_WASIT}
                                        option(value='Maysan') #{translation.CITY_MAYSAN}
                                        option(value='Dhi Qar') #{translation.CITY_DHI_QAR}
                                        option(value='Al Muthana') #{translation.CITY_AL_MUTHANA}
                                        option(value='Al-Qadisiyah') #{translation.CITY_AL_QADISIYAH}
                                        option(value='Babil') #{translation.CITY_BABIL}
                                        option(value='Karbala') #{translation.CITY_KARBALA}
                                        option(value='Najaf') #{translation.CITY_NAJAF}
                                        option(value='Al Anbar') #{translation.CITY_AL_ANBAR}
                                .form-group.select
                                    select#makes.form-control(name='make')
                                        option(value='') #{translation.ALL_BRANDS}
                                .form-group.select
                                    select#models.form-control(name='model')
                                        option(value='') #{translation.ALL_MODELS}
                                .form-group.select
                                    select#year.form-control(name='year')
                                        option(value='') #{translation.YEAR_OF_MODEL}
                                .form-group
                                    label.form-label #{translation.PRICE_RANGE} ($) 
                                    input#price_range.span2(type='text', value='', data-slider-min='0', data-slider-max='100000', data-slider-step='5', data-slider-value='[0,50000]')
                                    input#minprice(type='hidden',name="minPrice",value="0")
                                    input#maxprice(type='hidden',name="maxPrice",value="50000")
                                    input(type='hidden',name="page",value="1")
                                .form-group.select
                                    select#searchType.form-control(name="searchType")
                                        option(value='') #{translation.SEARCH_TYPE}
                                        option(value='New') #{translation.NEW}
                                        option(value='Used') #{translation.USED}
                                .form-group
                                    button.btn.btn-block(type='submit')
                                        i.fa.fa-search(aria-hidden='true')
                                        |  #{translation.SEARCH}
                    .sidebar_widget.sell_car_quote
                        .white-text.div_zindex.text-center
                            h3 #{translation.SELL_YOUR_CAR}
                            a.btn(href='/car/addnewcar')
                                | #{translation.SELL_YOUR_CAR}
                                span.angle_arrow
                                    i.fa.fa-angle-right(aria-hidden='true')
                        .dark-overlay
                    .sidebar_widget
                        .widget_heading
                            h5
                                i.fa.fa-car(aria-hidden='true')
                                |  #{translation.FEATURED_CARS}
                        .recent_addedcars
                            ul
                                each car in promotedCars
                                    li.gray-bg
                                        .recent_post_img
                                            a(href='/car/forsale/'+car._id)
                                                if(car.pics[0])
                                                    img(src="/uploads/carpics/"+car.pics[0], alt='image')
                                                if(!car.pics[0])
                                                    img(src="/images/Car-Placeholder.jpg", alt='image')
                                        .recent_post_title
                                            a(href='href='/car/forsale/'+car._id') #{car.model}
                                            p.widget_price $ #{car.price}

                // /Side-Bar
    // /Listing-grid-view


    script(src='/js/jquery.min.js')
    script(src='/js/ajax/car.js')
    script(src='/js/ajax/filter-search.js')
