extends layout

block content
    // Dealers-list
    section.inner_pages(style='padding-top: 1%;')
        .container
            ul.coustom-breadcrumb
                li
                    a(href='/', style='color: #1e96fe;') #{translation.HOME_TXT}
                li
                    a(style='color: #1e96fe;') >
                li(style='color: #1e96fe;') #{translation.DEALERS_LIST}
            .result-sorting-wrapper
                .sorting-count
                    p
                        span #{result.totalDocs} #{translation.DEALERS_AVAILABLE}
                //- .result-sorting-by
                //-     p Sort by:
                //-     form(action='#', method='post')
                //-         .form-group.select.sorting-select
                //-             select.form-control
                //-                 option Best Sellers
                //-                 option Newest Sellers
            .dealers_list_wrap
                each doc, i in result.docs
                    .dealers_listing
                        .row
                            .col-sm-3.col-xs-4
                                .dealer_logo
                                    a(href='/dealers/profile/'+doc._id)
                                        img(src='/uploads/avatars/'+doc.avatar, alt='image')
                            .col-sm-6.col-xs-8
                                .dealer_info
                                    h5
                                        a(href='/dealers/profile/'+doc._id) #{doc.company}
                                    if doc.address.city == "Hawler"
                                        i.fa.fa-map-marker(aria-hidden='true') #{translation.CITY_HAWLER}
                                    if doc.address.city == "Slemany"
                                        i.fa.fa-map-marker(aria-hidden='true') #{translation.CITY_SLEMANY}
                                    if doc.address.city == "Duhok"
                                        i.fa.fa-map-marker(aria-hidden='true') #{translation.CITY_DUHOK}
                                    if doc.address.city == "Halabja"
                                        i.fa.fa-map-marker(aria-hidden='true') #{translation.CITY_HALABJA}
                                    if doc.address.city == "Kirkuk"
                                        i.fa.fa-map-marker(aria-hidden='true') #{translation.CITY_KIRKUK}
                                    if doc.address.city == "Baghdad"
                                        i.fa.fa-map-marker(aria-hidden='true') #{translation.CITY_BAGHDAD}
                                    if doc.address.city == "Mosul"
                                        i.fa.fa-map-marker(aria-hidden='true') #{translation.CITY_MOSUL}
                                    if doc.address.city == "Basra"
                                        i.fa.fa-map-marker(aria-hidden='true') #{translation.CITY_BASRA}
                                    if doc.address.city == "Salah Al Din"
                                        i.fa.fa-map-marker(aria-hidden='true') #{translation.CITY_SALAH_AL_DIN}
                                    if doc.address.city == "Diyala"
                                        i.fa.fa-map-marker(aria-hidden='true') #{translation.CITY_DIYALA}
                                    if doc.address.city == "Wasit"
                                        i.fa.fa-map-marker(aria-hidden='true') #{translation.CITY_WASIT}
                                    if doc.address.city == "Maysan"
                                        i.fa.fa-map-marker(aria-hidden='true') #{translation.CITY_MAYSAN}
                                    if doc.address.city == "Dhi Qar"
                                        i.fa.fa-map-marker(aria-hidden='true') #{translation.CITY_DHI_QAR}
                                    if doc.address.city == "Al Muthana"
                                        i.fa.fa-map-marker(aria-hidden='true') #{translation.CITY_AL_MUTHANA}
                                    if doc.address.city == "Al-Qadisiyah"
                                        i.fa.fa-map-marker(aria-hidden='true') #{translation.CITY_AL_QADISIYAH}
                                    if doc.address.city == "Babil"
                                        i.fa.fa-map-marker(aria-hidden='true') #{translation.CITY_BABIL}
                                    if doc.address.city == "Karbala"
                                        i.fa.fa-map-marker(aria-hidden='true') #{translation.CITY_KARBALA}
                                    if doc.address.city == "Najaf"
                                        i.fa.fa-map-marker(aria-hidden='true') #{translation.CITY_NAJAF}
                                    if doc.address.city == "Al Anbar"
                                        i.fa.fa-map-marker(aria-hidden='true') #{translation.CITY_AL_ANBAR}
                            .col-sm-3.col-xs-12
                                .view_profile
                                    a.btn.btn-xs.outline(href='/dealers/profile/'+doc._id) #{translation.VIEW_PROFILE}
            .pagination
                ul
                    - for(var i = 1; i <= result.totalPages; i++) {
                        if i == page
                            li.current #{i}
                        if i != page
                            li
                                a(href="/dealers?page="+i)=i
                    -}
    // /Dealers-list
