extends layout

block content  
    //- // Listing-detail-header
    //- section.listing_detail_header
    //-     .container
    //-         .listing_detail_head.white-text.div_zindex.row
    //-             .col-md-9
    //-                 h2 #{car.make.makeName} #{car.model}
    //-                 .car-location
    //-                     span
    //-                         i.fa.fa-map-marker(aria-hidden='true')
    //-                         |  Iraq / #{car.location}
    //-             .col-md-3
    //-                 .price_info
    //-                     p $#{car.price}
    //-     .dark-overlay
    //- // /Listing-detail-header
    section.listing_other_info.secondary-bg
        .container
            #filter_toggle.search_other
                i.fa.fa-filter(aria-hidden='true')
                |  #{translation.QUICK_SEARCH}
            //- #other_info
            //-     i.fa.fa-info-circle(aria-hidden='true')
            //- #info_toggle
            //-     button(type='button', data-toggle='modal', data-target='#email_friend')
            //-         i.fa.fa-envelope(aria-hidden='true')
            //-         |  Email to a Friend
            //-     button(type='button', data-toggle='modal', data-target='#more_info')
            //-         i.fa.fa-file-text-o(aria-hidden='true')
            //-         |  Request More Info
    // Filter-Form
    section#filter_form.inner-filter.gray-bg
        .container
            h3
                | #{translation.FIND_YOUR_CAR}
            .row
                form#filtSearch(action='/filtSearch', method='get')
                    .form-group.col-md-3.col-sm-6.black_input
                        .select
                            select#location.form-control(name='location')
                                option(value='') #{translation.ALL_LOCATIONS}
                                option(value='Hawler') #{translation.CITY_HAWLER}
                                option(value='Slemany') #{translation.CITY_SLEMANY}
                                option(value='Duhok') #{translation.CITY_DUHOK}
                                option(value='Halabja') #{translation.CITY_HALABJA}
                                option(value='Kirkuk') #{translation.CITY_KIRKUK}
                                option(value='Baghdad') #{translation.CITY_BAGHDAD}
                                option(value='Mosul') #{translation.CITY_MOSUL}
                                option(value='Basra') #{translation.CITY_BASRA}
                                option(value='Salah Al Din') #{translation.CITY_SALAH_AL_DIN}
                                option(value='Diyala') #{translation.CITY_DIYALA}
                                option(value='Wasit') #{translation.CITY_WASIT}
                                option(value='Maysan') #{translation.CITY_MAYSAN}
                                option(value='Dhi Qar') #{translation.CITY_DHI_QAR}
                                option(value='Al Muthana') #{translation.CITY_AL_MUTHANA}
                                option(value='Al-Qadisiyah') #{translation.CITY_AL_QADISIYAH}
                                option(value='Babil') #{translation.CITY_BABIL}
                                option(value='Karbala') #{translation.CITY_KARBALA}
                                option(value='Najaf') #{translation.CITY_NAJAF}
                                option(value='Al Anbar') #{translation.CITY_AL_ANBAR}
                    .form-group.col-md-3.col-sm-6.black_input
                        .select
                            select#makes.form-control(name='make')
                                option(value='') #{translation.ALL_BRANDS}
                    .form-group.col-md-3.col-sm-6.black_input
                        .select
                            select#models.form-control(name='model')
                                option(value='') #{translation.ALL_MODELS}
                    .form-group.col-md-3.col-sm-6.black_input
                        .select
                            select#year.form-control(name='year')
                                option(value='') #{translation.YEAR_OF_MODEL}
                    .form-group.col-md-6.col-sm-6.black_input
                        label.form-label #{translation.PRICE_RANGE} ($)
                        input#price_range.span2(type='text', value='', data-slider-min='0', data-slider-max='100000', data-slider-step='5', data-slider-value='[0,50000]')
                        input#minprice(type='hidden',name="minPrice",value="0")
                        input#maxprice(type='hidden',name="maxPrice",value="50000")
                        input(type='hidden',name="page",value="1")
                    .form-group.col-md-3.col-sm-6.black_input
                        .select
                            select#searchType.form-control(name="searchType")
                                option(value='') #{translation.SEARCH_TYPE}
                                option(value='New') #{translation.NEW}
                                option(value='Used') #{translation.USED}
                    .form-group.col-md-3.col-sm-6
                        button.btn.btn-block(type='submit')
                            i.fa.fa-search(aria-hidden='true')
                            |  #{translation.SEARCH}
    // /Filter-Form

    section.basic-info
        .container
            .row
                .col-md-9.text-center
                    h2.car-name #{car.make.makeName} #{car.model}
                    .add_compare
                .col-md-3.text-center
                    .price_info
                        p#price #{car.price}
                    .row
                    .car-location
                        span
                            if car.location == "Hawler"
                                i.fa.fa-map-marker(aria-hidden='true') #{translation.CITY_HAWLER}
                            if car.location == "Slemany"
                                i.fa.fa-map-marker(aria-hidden='true') #{translation.CITY_SLEMANY}
                            if car.location == "Duhok"
                                i.fa.fa-map-marker(aria-hidden='true') #{translation.CITY_DUHOK}
                            if car.location == "Halabja"
                                i.fa.fa-map-marker(aria-hidden='true') #{translation.CITY_HALABJA}
                            if car.location == "Kirkuk"
                                i.fa.fa-map-marker(aria-hidden='true') #{translation.CITY_KIRKUK}
                            if car.location == "Baghdad"
                                i.fa.fa-map-marker(aria-hidden='true') #{translation.CITY_BAGHDAD}
                            if car.location == "Mosul"
                                i.fa.fa-map-marker(aria-hidden='true') #{translation.CITY_MOSUL}
                            if car.location == "Basra"
                                i.fa.fa-map-marker(aria-hidden='true') #{translation.CITY_BASRA}
                            if car.location == "Salah Al Din"
                                i.fa.fa-map-marker(aria-hidden='true') #{translation.CITY_SALAH_AL_DIN}
                            if car.location == "Diyala"
                                i.fa.fa-map-marker(aria-hidden='true') #{translation.CITY_DIYALA}
                            if car.location == "Wasit"
                                i.fa.fa-map-marker(aria-hidden='true') #{translation.CITY_WASIT}
                            if car.location == "Maysan"
                                i.fa.fa-map-marker(aria-hidden='true') #{translation.CITY_MAYSAN}
                            if car.location == "Dhi Qar"
                                i.fa.fa-map-marker(aria-hidden='true') #{translation.CITY_DHI_QAR}
                            if car.location == "Al Muthana"
                                i.fa.fa-map-marker(aria-hidden='true') #{translation.CITY_AL_MUTHANA}
                            if car.location == "Al-Qadisiyah"
                                i.fa.fa-map-marker(aria-hidden='true') #{translation.CITY_AL_QADISIYAH}
                            if car.location == "Babil"
                                i.fa.fa-map-marker(aria-hidden='true') #{translation.CITY_BABIL}
                            if car.location == "Karbala"
                                i.fa.fa-map-marker(aria-hidden='true') #{translation.CITY_KARBALA}
                            if car.location == "Najaf"
                                i.fa.fa-map-marker(aria-hidden='true') #{translation.CITY_NAJAF}
                            if car.location == "Al Anbar"
                                i.fa.fa-map-marker(aria-hidden='true') #{translation.CITY_AL_ANBAR}


    // Listing-detail
    section.listing-detail
        .container.ltr
            .row
                .col-md-9
                    .listing_images
                        #listing_images_slider.listing_images_slider
                            if !car.pics[0]
                                div
                                    img(src="/images/Car-Placeholder.jpg", alt='image')
                            each image in car.pics
                                div
                                    img(src='/uploads/carpics/'+image, alt='image')
                        #listing_images_slider_nav.listing_images_slider_nav
                            each image in car.pics
                                div
                                    img(src='/uploads/carpics/'+image, alt='image')
                    .main_features
                        ul
                            if car.kmsd
                                li
                                    i.fa.fa-tachometer(aria-hidden='true')
                                    h5 #{car.kmsd}
                                    p #{translation.KMS_DRIVEN}
                            li
                                i.fa.fa-calendar(aria-hidden='true')
                                h5 #{car.year}
                                p #{translation.MODEL_YEAR}
                            if car.fuelType
                                li
                                    i.fa.fa-cogs(aria-hidden='true')
                                    if car.fuelType == 'Petrol'
                                        h5 #{translation.FUEL_PETROL}
                                    if car.fuelType == 'Diesel'
                                        h5 #{translation.FUEL_DIESEL}
                                    if car.fuelType == 'LPG autogas'
                                        h5 #{translation.FUEL_LPG_AUTOGAS}
                                    if car.fuelType == 'Electric'
                                        h5 #{translation.FUEL_ELECTRIC}
                                    if car.fuelType == 'Hybrid'
                                        h5 #{translation.FUEL_HYBRID}
                                    p #{translation.FUEL_TYPE}
                            if car.transmission
                                li
                                    i.fa.fa-power-off(aria-hidden='true')
                                    if car.transmission == 'Automatic'
                                        h5 #{translation.TRANSMISSION_AUTOMATIC}
                                    else if car.transmission == 'Manual'
                                        h5 #{translation.TRANSMISSION_MANUAL}
                                    p #{translation.TRANSMISSION}
                            if car.cylNo
                                li
                                    i.fa.fa-superpowers(aria-hidden='true')
                                    h5 #{car.cylNo}
                                    p #{translation.CYLINDERSS}
                            if car.seatCap
                                li
                                    i.fa.fa-user-plus(aria-hidden='true')
                                    h5 #{car.seatCap}
                                    p #{translation.SEATS}
                    .listing_more_info
                        .listing_detail_wrap
                            // Nav tabs
                            ul.nav.nav-tabs.gray-bg(role='tablist')
                                li.active(role='presentation')
                                    a(href='#vehicle-overview ', aria-controls='vehicle-overview', role='tab', data-toggle='tab') #{translation.VEHICLE_OVERVIEW_DESCRIPTION}
                                li(role='presentation')
                                    a(href='#specification', aria-controls='specification', role='tab', data-toggle='tab') #{translation.TECHNICAL_SPECIFICATION}
                                li(role='presentation')
                                    a(href='#accessories', aria-controls='accessories', role='tab', data-toggle='tab') #{translation.ACCESSORIES}
                            .vehicle_accessories
                            // Tab panes
                            .tab-content
                                // vehicle-overview
                                #vehicle-overview.tab-pane.active(role='tabpanel')
                                    h4 #{translation.ABOUT_THIS_CAR}
                                    p #{car.description}
                                // Technical-Specification
                                #specification.tab-pane(role='tabpanel')
                                    .table-responsive
                                        // Basic-Info-Table
                                        table
                                            thead
                                                tr
                                                    th(colspan='2') #{translation.BASIC_INFO}
                                            tbody
                                                tr
                                                    td #{translation.MODEL_YEAR}
                                                    td #{car.year}
                                                if car.engine
                                                    tr
                                                        td #{translation.ENGINE}
                                                        td #{car.engine}
                                                if car.kmsd
                                                    tr
                                                        td #{translation.KMS_DRIVEN}
                                                        td #{car.kmsd}
                                                if car.fuelType
                                                    tr
                                                        td #{translation.FUEL_TYPE}
                                                        if car.fuelType == 'Petrol'
                                                            td #{translation.FUEL_PETROL}
                                                        if car.fuelType == 'Diesel'
                                                            td #{translation.FUEL_DIESEL}
                                                        if car.fuelType == 'LPG autogas'
                                                            td #{translation.FUEL_LPG_AUTOGAS}
                                                        if car.fuelType == 'Electric'
                                                            td #{translation.FUEL_ELECTRIC}
                                                        if car.fuelType == 'Hybrid'
                                                            td #{translation.FUEL_HYBRID}
                                                if car.roofType
                                                    tr
                                                        td #{translation.ROOF_TYPE}
                                                        if car.roofType == 'Regular'
                                                            td #{translation.ROOF_REGULAR}
                                                        if car.roofType == 'Convertible'
                                                            td #{translation.ROOF_CONVERTIBLE}
                                                        if car.roofType == 'Slide Sunroof'
                                                            td #{translation.ROOF_SLIDE}
                                                        if car.roofType == 'Panoramic Sunroof'
                                                            td #{translation.ROOF_PANORAMIC}
                                                        
                                        // Technical-Specification-Table
                                        table
                                            thead
                                                tr
                                                    th(colspan='2') #{translation.TECHNICAL_SPECIFICATION}
                                            tbody
                                                if car.cylNo
                                                    tr
                                                        td #{translation.CYLINDERS}
                                                        td #{car.cylNo}
                                                if car.tankCap
                                                    tr
                                                        td #{translation.FEUL_TANK_CAPACITY}
                                                        td #{car.tankCap}
                                                if car.seatCap
                                                    tr
                                                        td #{translation.SEATING_CAPACITY}
                                                        td #{car.seatCap}
                                                if car.airbags
                                                    tr
                                                        td #{translation.AIRBAGS}
                                                        td #{car.airbags}
                                                if car.transmission
                                                    tr
                                                        td #{translation.TRANSMISSION}
                                                        if car.transmission == 'Automatic'
                                                            td #{translation.TRANSMISSION_AUTOMATIC}
                                                        if car.transmission == 'Manual'
                                                            td #{translation.TRANSMISSION_MANUAL}
                                                if car.drivetrain
                                                    tr
                                                        td #{translation.DRIVETRAIN}
                                                        td #{car.drivetrain}
                                // Accessories
                                #accessories.tab-pane(role='tabpanel')
                                    // Accessories
                                    table
                                        thead
                                            tr
                                                th(colspan='2') #{translation.ACCESSORIES}
                                        tbody
                                            tr
                                                td #{translation.LEATHER_SEATS}
                                                td
                                                    if car.lseats
                                                        i.fa.fa-check(aria-hidden='true')
                                                    else 
                                                        i.fa.fa-close(aria-hidden='true')
                                            tr
                                                td #{translation.HEATED_SEATS}
                                                td
                                                    if car.hseats
                                                        i.fa.fa-check(aria-hidden='true')
                                                    else 
                                                        i.fa.fa-close(aria-hidden='true')
                                            tr
                                                td #{translation.BIG_SCREEN}
                                                td
                                                    if car.screen
                                                        i.fa.fa-check(aria-hidden='true')
                                                    else 
                                                        i.fa.fa-close(aria-hidden='true')
                                            tr
                                                td #{translation.BACKUP_CAMERA}
                                                td
                                                    if car.camera
                                                        i.fa.fa-check(aria-hidden='true')
                                                    else 
                                                        i.fa.fa-close(aria-hidden='true')
                                            tr
                                                td #{translation.BLUETOOTH}
                                                td
                                                    if car.bluetooth
                                                        i.fa.fa-check(aria-hidden='true')
                                                    else 
                                                        i.fa.fa-close(aria-hidden='true')
                                            tr
                                                td #{translation.REMOTE_STARTER}
                                                td
                                                    if car.starter
                                                        i.fa.fa-check(aria-hidden='true')
                                                    else 
                                                        i.fa.fa-close(aria-hidden='true')
                                            tr
                                                td #{translation.CRUISE_CONTROL}
                                                td
                                                    if car.cruise
                                                        i.fa.fa-check(aria-hidden='true')
                                                    else 
                                                        i.fa.fa-close(aria-hidden='true')
                                            tr
                                                td #{translation.DUAL_AIR_CONDITIONER}
                                                td
                                                    if car.ac
                                                        i.fa.fa-check(aria-hidden='true')
                                                    else 
                                                        i.fa.fa-close(aria-hidden='true')
                                            
                // Side-Bar
                aside.col-md-3
                    if user
                        if user.role == "admin"
                            if car.state == "active"
                                a.btn.outline.prom(href="/admin/car/promoted/"+car._id) Promote
                            if car.state == "promoted"
                                a.btn.outline.prom(href="/admin/car/active/"+car._id) remove from promotion
                            br
                            br
                            
                    if pro
                        .sidebar_widget
                            .widget_heading
                                h5
                                    i.fa.fa-address-card-o(aria-hidden='true')
                                    |  #{translation.DEALER_CONTACT}
                            .dealer_detail
                                if(pro.avatar)
                                    img(src='/uploads/avatars/'+pro.avatar, alt='image')
                                if(!pro.avatar)
                                    img(src='/images/Car-Placeholder.jpg', alt='image')
                                p
                                    span #{translation.NAME}:
                                    |  #{pro.company}
                                if pro.phoneNumber
                                    p
                                        span #{translation.PHONE}:
                                        |  #{pro.phoneNumber}
                                p
                                    span #{translation.CITY}:
                                    if pro.address.city == "Hawler"
                                        |  #{translation.CITY_HAWLER}
                                    if pro.address.city == "Slemany"
                                        |  #{translation.CITY_SLEMANY}
                                    if pro.address.city == "Duhok"
                                        |  #{translation.CITY_DUHOK}
                                    if pro.address.city == "Halabja"
                                        |  #{translation.CITY_HALABJA}
                                    if pro.address.city == "Kirkuk"
                                        |  #{translation.CITY_KIRKUK}
                                    if pro.address.city == "Baghdad"
                                        |  #{translation.CITY_BAGHDAD}
                                    if pro.address.city == "Mosul"
                                        |  #{translation.CITY_MOSUL}
                                    if pro.address.city == "Basra"
                                        |  #{translation.CITY_BASRA}
                                    if pro.address.city == "Salah Al Din"
                                        |  #{translation.CITY_SALAH_AL_DIN}
                                    if pro.address.city == "Diyala"
                                        |  #{translation.CITY_DIYALA}
                                    if pro.address.city == "Wasit"
                                        |  #{translation.CITY_WASIT}
                                    if pro.address.city == "Maysan"
                                        |  #{translation.CITY_MAYSAN}
                                    if pro.address.city == "Dhi Qar"
                                        |  #{translation.CITY_DHI_QAR}
                                    if pro.address.city == "Al Muthana"
                                        |  #{translation.CITY_AL_MUTHANA}
                                    if pro.address.city == "Al-Qadisiyah"
                                        |  #{translation.CITY_AL_QADISIYAH}
                                    if pro.address.city == "Babil"
                                        |  #{translation.CITY_BABIL}
                                    if pro.address.city == "Karbala"
                                        |  #{translation.CITY_KARBALA}
                                    if pro.address.city == "Najaf"
                                        |  #{translation.CITY_NAJAF}
                                    if pro.address.city == "Al Anbar"
                                        |  #{translation.CITY_AL_ANBAR}
                                    
                                a.btn.btn-xs(href='#') #{translation.VIEW_PROFILE}
                    else
                        .sidebar_widget
                            .widget_heading
                                h5
                                    i.fa.fa-address-card-o(aria-hidden='true')
                                    |  #{translation.DEALER_CONTACT}
                            .dealer_detail
                                p
                                    span #{translation.NAME}:
                                    |  #{car.user.name}
                                if car.user.phoneNumber
                                    p
                                        span #{translation.PHONE}:
                                        |  #{car.user.phoneNumber}
                                p
                                    span #{translation.CITY}:
                                    if car.location == "Hawler"
                                        |  #{translation.CITY_HAWLER}
                                    if car.location == "Slemany"
                                        |  #{translation.CITY_SLEMANY}
                                    if car.location == "Duhok"
                                        |  #{translation.CITY_DUHOK}
                                    if car.location == "Halabja"
                                        |  #{translation.CITY_HALABJA}
                                    if car.location == "Kirkuk"
                                        |  #{translation.CITY_KIRKUK}
                                    if car.location == "Baghdad"
                                        |  #{translation.CITY_BAGHDAD}
                                    if car.location == "Mosul"
                                        |  #{translation.CITY_MOSUL}
                                    if car.location == "Basra"
                                        |  #{translation.CITY_BASRA}
                                    if car.location == "Salah Al Din"
                                        |  #{translation.CITY_SALAH_AL_DIN}
                                    if car.location == "Diyala"
                                        |  #{translation.CITY_DIYALA}
                                    if car.location == "Wasit"
                                        |  #{translation.CITY_WASIT}
                                    if car.location == "Maysan"
                                        |  #{translation.CITY_MAYSAN}
                                    if car.location == "Dhi Qar"
                                        |  #{translation.CITY_DHI_QAR}
                                    if car.location == "Al Muthana"
                                        |  #{translation.CITY_AL_MUTHANA}
                                    if car.location == "Al-Qadisiyah"
                                        |  #{translation.CITY_AL_QADISIYAH}
                                    if car.location == "Babil"
                                        |  #{translation.CITY_BABIL}
                                    if car.location == "Karbala"
                                        |  #{translation.CITY_KARBALA}
                                    if car.location == "Najaf"
                                        |  #{translation.CITY_NAJAF}
                                    if car.location == "Al Anbar"
                                        |  #{translation.CITY_AL_ANBAR}
                    //- .sidebar_widget
                    //-     .widget_heading
                    //-         h5
                    //-             i.fa.fa-envelope(aria-hidden='true')
                    //-             |  Message to Dealer
                    //-     form(action='#')
                    //-         .form-group
                    //-             input.form-control(type='text', placeholder='Name')
                    //-         .form-group
                    //-             input.form-control(type='email', placeholder='Email')
                    //-         .form-group
                    //-             textarea.form-control(rows='4', placeholder='Message')
                    //-         .form-group
                    //-             input.btn.btn-block(type='submit', value='Send Message')
                // /Side-Bar
            .space-20
            .divider
            // Similar-Cars
            .similar_cars
                //- h3 #{translation.CITY_AL_ANBAR}
                .row
                    each doc, i in cars
                        .col-md-3.grid_listing
                            .product-listing-m.gray-bg
                                .product-listing-img
                                    a(href='/car/forsale/'+doc._id)
                                        if(doc.pics[0])
                                            img.img-responsive(src="/uploads/carpics/"+doc.pics[0], alt='image')
                                        if(!doc.pics[0])
                                            img.img-responsive(src="/images/Car-Placeholder.jpg", alt='image')
                                    .label_icon #{doc.vehicle_type}
                                .product-listing-content
                                    h5
                                        a(href='/car/forsale/'+doc._id) #{doc.model}
                                    p.list-price $ #{doc.price}
                                    .car-location
                                        span
                                            if doc.location == "Hawler"
                                                i.fa.fa-map-marker(aria-hidden='true') #{translation.CITY_HAWLER}
                                            if doc.location == "Slemany"
                                                i.fa.fa-map-marker(aria-hidden='true') #{translation.CITY_SLEMANY}
                                            if doc.location == "Duhok"
                                                i.fa.fa-map-marker(aria-hidden='true') #{translation.CITY_DUHOK}
                                            if doc.location == "Halabja"
                                                i.fa.fa-map-marker(aria-hidden='true') #{translation.CITY_HALABJA}
                                            if doc.location == "Kirkuk"
                                                i.fa.fa-map-marker(aria-hidden='true') #{translation.CITY_KIRKUK}
                                            if doc.location == "Baghdad"
                                                i.fa.fa-map-marker(aria-hidden='true') #{translation.CITY_BAGHDAD}
                                            if doc.location == "Mosul"
                                                i.fa.fa-map-marker(aria-hidden='true') #{translation.CITY_MOSUL}
                                            if doc.location == "Basra"
                                                i.fa.fa-map-marker(aria-hidden='true') #{translation.CITY_BASRA}
                                            if doc.location == "Salah Al Din"
                                                i.fa.fa-map-marker(aria-hidden='true') #{translation.CITY_SALAH_AL_DIN}
                                            if doc.location == "Diyala"
                                                i.fa.fa-map-marker(aria-hidden='true') #{translation.CITY_DIYALA}
                                            if doc.location == "Wasit"
                                                i.fa.fa-map-marker(aria-hidden='true') #{translation.CITY_WASIT}
                                            if doc.location == "Maysan"
                                                i.fa.fa-map-marker(aria-hidden='true') #{translation.CITY_MAYSAN}
                                            if doc.location == "Dhi Qar"
                                                i.fa.fa-map-marker(aria-hidden='true') #{translation.CITY_DHI_QAR}
                                            if doc.location == "Al Muthana"
                                                i.fa.fa-map-marker(aria-hidden='true') #{translation.CITY_AL_MUTHANA}
                                            if doc.location == "Al-Qadisiyah"
                                                i.fa.fa-map-marker(aria-hidden='true') #{translation.CITY_AL_QADISIYAH}
                                            if doc.location == "Babil"
                                                i.fa.fa-map-marker(aria-hidden='true') #{translation.CITY_BABIL}
                                            if doc.location == "Karbala"
                                                i.fa.fa-map-marker(aria-hidden='true') #{translation.CITY_KARBALA}
                                            if doc.location == "Najaf"
                                                i.fa.fa-map-marker(aria-hidden='true') #{translation.CITY_NAJAF}
                                            if doc.location == "Al Anbar"
                                                i.fa.fa-map-marker(aria-hidden='true') #{translation.CITY_AL_ANBAR}
                                    //- ul.features_list
                                    //-     li
                                    //-         i.fa.fa-road(aria-hidden='true')
                                    //-         | #{doc.kmsd} km
                                    //-     li
                                    //-         i.fa.fa-tachometer(aria-hidden='true')
                                    //-         | #{doc.drivetrian}
                                    //-     li
                                    //-         i.fa.fa-calendar(aria-hidden='true')
                                    //-         | #{doc.year}
                                    //-     li
                                    //-         i.fa.fa-car(aria-hidden='true')
                                    //-         | #{doc.fuelType}
                    


    script(src='/js/jquery.min.js')
    script(src='/js/ajax/car.js')
    script(src='/js/ajax/filter-search.js')
    script(src='/js/ajax/car-promote.js')
    script.
        var price = document.getElementById("price").innerHTML;
        price = '$ ' + price.replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,')
        document.getElementById("price").innerHTML = price;