extends layout

block content
    // Dealer-profile
    section.dealer_profile.inner_pages(style='padding-top: 1%')
        .container
            ul.coustom-breadcrumb
                li
                    a(href='/', style='color: #1e96fe') #{translation.HOME_TXT}
                li
                    a(style='color: #1e96fe') >
                li(style='color: #1e96fe') #{translation.DEALER_PROFILE}
            .row
                .col-md-3.col-sm-3.col-xs-4
                    .dealer_logo
                        img(src='/uploads/avatars/'+pro.avatar, alt='image')
                .col-md-6.col-sm-5.col-xs-8
                    .dealer_info
                        h4 #{pro.company}
                        if pro.address.city == "Hawler"
                            p #{translation.CITY_HAWLER} - #{pro.address.street}
                        if pro.address.city == "Slemany"
                            p #{translation.CITY_SLEMANY}- #{pro.address.street}
                        if pro.address.city == "Duhok"
                            p #{translation.CITY_DUHOK}- #{pro.address.street}
                        if pro.address.city == "Halabja"
                            p #{translation.CITY_HALABJA}- #{pro.address.street}
                        if pro.address.city == "Kirkuk"
                            p #{translation.CITY_KIRKUK}- #{pro.address.street}
                        if pro.address.city == "Baghdad"
                            p #{translation.CITY_BAGHDAD}- #{pro.address.street}
                        if pro.address.city == "Mosul"
                            p #{translation.CITY_MOSUL}- #{pro.address.street}
                        if pro.address.city == "Basra"
                            p #{translation.CITY_BASRA}- #{pro.address.street}
                        if pro.address.city == "Salah Al Din"
                            p #{translation.CITY_SALAH_AL_DIN}- #{pro.address.street}
                        if pro.address.city == "Diyala"
                            p #{translation.CITY_DIYALA}- #{pro.address.street}
                        if pro.address.city == "Wasit"
                            p #{translation.CITY_WASIT}- #{pro.address.street}
                        if pro.address.city == "Maysan"
                            p #{translation.CITY_MAYSAN}- #{pro.address.street}
                        if pro.address.city == "Dhi Qar"
                            p #{translation.CITY_DHI_QAR}- #{pro.address.street}
                        if pro.address.city == "Al Muthana"
                            p #{translation.CITY_AL_MUTHANA}- #{pro.address.street}
                        if pro.address.city == "Al-Qadisiyah"
                            p #{translation.CITY_AL_QADISIYAH}- #{pro.address.street}
                        if pro.address.city == "Babil"
                            p #{translation.CITY_BABIL}- #{pro.address.street}
                        if pro.address.city == "Karbala"
                            p #{translation.CITY_KARBALA}- #{pro.address.street}
                        if pro.address.city == "Najaf"
                            p #{translation.CITY_NAJAF}- #{pro.address.street}
                        if pro.address.city == "Al Anbar"
                            p #{translation.CITY_AL_ANBAR}- #{pro.address.street}
                        ul.dealer_social_links
                            if pro.socialLinks.facebook
                                li.facebook-icon
                                    a(href=pro.socialLinks.facebook)
                                        i.fa.fa-facebook-square(aria-hidden='true')
                            if pro.socialLinks.instagram
                                li.instagram-icon
                                    a(href=pro.socialLinks.instagram)
                                        i.fa.fa-instagram(aria-hidden='true')
                            if pro.socialLinks.youtube
                                li.youtube-icon
                                    a(href=pro.socialLinks.youtube)
                                        i.fa.fa-youtube(aria-hidden='true')
                            if pro.socialLinks.twitter
                                li.twitter-icon
                                    a(href=pro.socialLinks.twitter)
                                        i.fa.fa-twitter(aria-hidden='true')
                .col-md-3.col-sm-4.col-xs-12
                    if pro.website
                        .dealer_contact_info.gray-bg
                            h6
                                i.fa.fa-globe(aria-hidden='true')
                                |  #{translation.WEBSITE}
                            a(href=pro.website)=pro.website
                    if pro.phoneNumber
                    .dealer_contact_info.gray-bg
                        h6
                            i.fa.fa-phone(aria-hidden='true')
                            |  #{translation.PHONE_NUMBER}
                        a(href='tel:'+pro.phoneNumber)=pro.phoneNumber
                    //- .dealer_contact_info.gray-bg
                    //-     h6
                    //-         i.fa.fa-star(aria-hidden='true')
                    //-         |  Rating
                    //-     a .
                    //-     fieldset.rating
                    //-         input#star5(type='radio', name='rating', value='5')
                    //-         label.full(for='star5', title='Awesome - 5 stars')
                    //-         input#star4half(type='radio', name='rating', value='4 and a half')
                    //-         label.half(for='star4half', title='Pretty good - 4.5 stars')
                    //-         input#star4(type='radio', name='rating', value='4')
                    //-         label.full(for='star4', title='Pretty good - 4 stars')
                    //-         input#star3half(type='radio', name='rating', value='3 and a half')
                    //-         label.half(for='star3half', title='Meh - 3.5 stars')
                    //-         input#star3(type='radio', name='rating', value='3')
                    //-         label.full(for='star3', title='Meh - 3 stars')
                    //-         input#star2half(type='radio', name='rating', value='2 and a half')
                    //-         label.half(for='star2half', title='Kinda bad - 2.5 stars')
                    //-         input#star2(type='radio', name='rating', value='2')
                    //-         label.full(for='star2', title='Kinda bad - 2 stars')
                    //-         input#star1half(type='radio', name='rating', value='1 and a half')
                    //-         label.half(for='star1half', title='Meh - 1.5 stars')
                    //-         input#star1(type='radio', name='rating', value='1')
                    //-         label.full(for='star1', title='Sucks big time - 1 star')
                    //-         input#starhalf(type='radio', name='rating', value='half')
                    //-         label.half(for='starhalf', title='Sucks big time - 0.5 stars')
                    //-     script(src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js')
            .space-60
            .row
                .col-md-9
                    .dealer_more_info
                        h5.gray-bg.info_title  #{translation.ABOUT} #{pro.company}
                        p=pro.info
                        .dealer_listings
                            h6 #{translation.AGENCY_LISTING_CARS}
                            .row
                                each car in cars
                                    .col-md-4.grid_listing
                                        .product-listing-m.gray-bg
                                            .product-listing-img
                                                a(href='/car/forsale/'+car._id)
                                                    if(car.pics[0])
                                                        img.img-responsive(src="/uploads/carpics/"+car.pics[0], alt='image')
                                                    if(!car.pics[0])
                                                        img.img-responsive(src="/images/Car-Placeholder.jpg", alt='image')
                                                .label_icon #{car.vehicle_type}
                                            .product-listing-content
                                                h5
                                                    a(href='/car/forsale/'+car._id) #{car.model}
                                                p.list-price $ #{car.price}
                                                .car-location
                                                    span
                                                        if car.location == "Hawler"
                                                            i.fa.fa-map-marker(aria-hidden='true') #{translation.CITY_HAWLER}
                                                        if car.location == "Slemany"
                                                            i.fa.fa-map-marker(aria-hidden='true') #{translation.CITY_SLEMANY}
                                                        if car.location == "Duhok"
                                                            i.fa.fa-map-marker(aria-hidden='true') #{translation.CITY_DUHOK}
                                                        if car.location == "Halabja"
                                                            i.fa.fa-map-marker(aria-hidden='true') #{translation.CITY_HALABJA}
                                                        if car.location == "Kirkuk"
                                                            i.fa.fa-map-marker(aria-hidden='true') #{translation.CITY_KIRKUK}
                                                        if car.location == "Baghdad"
                                                            i.fa.fa-map-marker(aria-hidden='true') #{translation.CITY_BAGHDAD}
                                                        if car.location == "Mosul"
                                                            i.fa.fa-map-marker(aria-hidden='true') #{translation.CITY_MOSUL}
                                                        if car.location == "Basra"
                                                            i.fa.fa-map-marker(aria-hidden='true') #{translation.CITY_BASRA}
                                                        if car.location == "Salah Al Din"
                                                            i.fa.fa-map-marker(aria-hidden='true') #{translation.CITY_SALAH_AL_DIN}
                                                        if car.location == "Diyala"
                                                            i.fa.fa-map-marker(aria-hidden='true') #{translation.CITY_DIYALA}
                                                        if car.location == "Wasit"
                                                            i.fa.fa-map-marker(aria-hidden='true') #{translation.CITY_WASIT}
                                                        if car.location == "Maysan"
                                                            i.fa.fa-map-marker(aria-hidden='true') #{translation.CITY_MAYSAN}
                                                        if car.location == "Dhi Qar"
                                                            i.fa.fa-map-marker(aria-hidden='true') #{translation.CITY_DHI_QAR}
                                                        if car.location == "Al Muthana"
                                                            i.fa.fa-map-marker(aria-hidden='true') #{translation.CITY_AL_MUTHANA}
                                                        if car.location == "Al-Qadisiyah"
                                                            i.fa.fa-map-marker(aria-hidden='true') #{translation.CITY_AL_QADISIYAH}
                                                        if car.location == "Babil"
                                                            i.fa.fa-map-marker(aria-hidden='true') #{translation.CITY_BABIL}
                                                        if car.location == "Karbala"
                                                            i.fa.fa-map-marker(aria-hidden='true') #{translation.CITY_KARBALA}
                                                        if car.location == "Najaf"
                                                            i.fa.fa-map-marker(aria-hidden='true') #{translation.CITY_NAJAF}
                                                        if car.location == "Al Anbar"
                                                            i.fa.fa-map-marker(aria-hidden='true') #{translation.CITY_AL_ANBAR}
                                                //- ul.features_list
                                                //-     li
                                                //-         i.fa.fa-road(aria-hidden='true')
                                                //-         | #{car.kmsd} km
                                                //-     li
                                                //-         i.fa.fa-tachometer(aria-hidden='true')
                                                //-         | #{car.drivetrian}
                                                //-     li
                                                //-         i.fa.fa-calendar(aria-hidden='true')
                                                //-         | #{car.year}
                                                //-     li
                                                //-         i.fa.fa-car(aria-hidden='true')
                                                //-         | #{car.fuelType}
                                    