extends layout

block content   
    if profile && profile.state == "active"
        //- .user_profile_info.gray-bg.padding_4x4_40
        //-     .upload_user_logo
        //-         img(src='/uploads/avatars/'+profile.avatar, alt='image')
        //-         form(action='/profile/logoupdate', method='post', enctype='multipart/form-data')
        //-             .upload_newlogo
        //-                 input(name='upload', type='file',onchange="this.form.submit()")
                        
        //-     .dealer_info
        //-         h2=profile.company

        .row
            .col-md-3.col-sm-3
                .profile_nav
                    ul
                        li.active
                            a(href='/profile/myprofile') #{translation.PROFILE_SETTING}
                        li
                            a(href='/profile/myvehicles') #{translation.MY_VEHICLES}
                        li
                            a(href='/parts/myvehicleparts') #{translation.MY_VEHICLE_PARTS}
                        li
                            a(href='/car/addnewcar') #{translation.POST_A_VEHICLE}
                        li
                            a(href='/parts/addCarPart') #{translation.POST_A_VEHICLE_PART}
                        li
                            a(href='/auth/logout') #{translation.SIGN_OUT}
            .col-md-6.col-sm-8
                .profile_wrap
                    h5.uppercase.underline #{translation.EDIT_PROFILE}
                    form(action='/profile/createprofile',method="post")
                        .form-group
                            label.control-label #{translation.COMPANY_NAME}
                            input#company.form-control.white_bg(type='text', name='company', value=profile.company,required='')
                        .form-group
                            label.control-label #{translation.YOUR_NAME}
                            input#name.form-control.white_bg(type='text', name='name', value=profile.name,required='')
                        .form-group
                            label.control-label #{translation.PHONE_NUMBER}
                            input#phone-number.form-control.white_bg(type='text', name='phoneNumber', value=profile.phoneNumber,required='')
                        .form-group
                            label.control-label #{translation.CITY}
                            select.selection(style='width: 100%; padding: 15px; border-color: #dbdbdb',name='city')
                                if profile.address.city == "Hawler"
                                    option(value='Hawler',selected="") #{translation.CITY_HAWLER}
                                else
                                    option(value='Hawler') #{translation.CITY_HAWLER}
                                if profile.address.city == "Slemany"
                                    option(value='Slemany',selected="") #{translation.CITY_SLEMANY}
                                else
                                    option(value='Slemany') #{translation.CITY_SLEMANY}
                                if profile.address.city == "Duhok"
                                    option(value='Duhok',selected="") #{translation.CITY_DUHOK}
                                else
                                    option(value='Duhok') #{translation.CITY_DUHOK}
                                if profile.address.city == "Halabja"
                                    option(value='Halabja',selected="") #{translation.CITY_HALABJA}
                                else
                                    option(value='Halabja') #{translation.CITY_HALABJA}
                                if profile.address.city == "Kirkuk"
                                    option(value='Kirkuk',selected="") #{translation.CITY_KIRKUK}
                                else
                                    option(value='Kirkuk') #{translation.CITY_KIRKUK}
                                if profile.address.city == "Baghdad"
                                    option(value='Baghdad',selected="") #{translation.CITY_BAGHDAD}
                                else
                                    option(value='Baghdad') #{translation.CITY_BAGHDAD}
                                if profile.address.city == "Mosul"
                                    option(value='Mosul',selected="") #{translation.CITY_MOSUL}
                                else
                                    option(value='Mosul') #{translation.CITY_MOSUL}
                                if profile.address.city == "Basra"
                                    option(value='Basra',selected="") #{translation.CITY_BASRA}
                                else
                                    option(value='Basra') #{translation.CITY_BASRA}
                                if profile.address.city == "Salah Al Din"
                                    option(value='Salah Al Din',selected="") #{translation.CITY_SALAH_AL_DIN}
                                else
                                    option(value='Salah Al Din') #{translation.CITY_SALAH_AL_DIN}
                                if profile.address.city == "Diyala"
                                    option(value='Diyala',selected="") #{translation.CITY_DIYALA}
                                else
                                    option(value='Diyala') #{translation.CITY_DIYALA}
                                if profile.address.city == "Wasit"
                                    option(value='Wasit',selected="") #{translation.CITY_WASIT}
                                else
                                    option(value='Wasit') #{translation.CITY_WASIT}
                                if profile.address.city == "Maysan"
                                    option(value='Maysan',selected="") #{translation.CITY_MAYSAN}
                                else
                                    option(value='Maysan') #{translation.CITY_MAYSAN}
                                if profile.address.city == "Dhi Qar"
                                    option(value='Dhi Qar',selected="") #{translation.CITY_DHI_QAR}
                                else
                                    option(value='Dhi Qar') #{translation.CITY_DHI_QAR}
                                if profile.address.city == "Al Muthana"
                                    option(value='Al Muthana',selected="") #{translation.CITY_AL_MUTHANA}
                                else
                                    option(value='Al Muthana') #{translation.CITY_AL_MUTHANA}
                                if profile.address.city == "Al-Qadisiyah"
                                    option(value='Al-Qadisiyah',selected="") #{translation.CITY_AL_QADISIYAH}
                                else
                                    option(value='Al-Qadisiyah') #{translation.CITY_AL_QADISIYAH}
                                if profile.address.city == "Babil"
                                    option(value='Babil',selected="") #{translation.CITY_BABIL}
                                else
                                    option(value='Babil') #{translation.CITY_BABIL}
                                if profile.address.city == "Karbala"
                                    option(value='Karbala',selected="") #{translation.CITY_KARBALA}
                                else
                                    option(value='Karbala') #{translation.CITY_KARBALA}
                                if profile.address.city == "Najaf"
                                    option(value='Najaf',selected="") #{translation.CITY_NAJAF}
                                else
                                    option(value='Najaf') #{translation.CITY_NAJAF}
                                if profile.address.city == "Al Anbar"
                                    option(value='Al Anbar',selected="") #{translation.CITY_AL_ANBAR}
                                else
                                    option(value='Al Anbar') #{translation.CITY_AL_ANBAR}
                                
                                
                        .form-group
                            label.control-label #{translation.STREET}
                            input#street.form-control.white_bg(type='text', name='street',value=profile.address.street,required='')
                        .form-group
                            label.control-label #{translation.WEBSITE}
                            input#website.form-control.white_bg(type='text', name='website',value=profile.website)
                        .gray-bg.field-title
                            h6 #{translation.SOCIAL_LINKS}
                        .form-group
                            label.control-label #{translation.FACEBOOK_LINKS}
                            input#facebook.form-control.white_bg(type='text', name='facebook', value=profile.socialLinks.facebook)
                        .form-group
                            label.control-label #{translation.INSTAGRAM_LINK}
                            input#instagram.form-control.white_bg(type='text', name='instagram', value=profile.socialLinks.instagram)
                        .form-group
                            label.control-label #{translation.YOUTUBE_LINK}
                            input#youtube.form-control.white_bg(type='text', name='youtube', value=profile.socialLinks.youtube)
                        .form-group
                            label.control-label #{translation.TWITTER_LINK}
                            input#twitter.form-control.white_bg(type='text', name='twitter', value=profile.socialLinks.twitter)
                        .form-group
                            label.control-label #{translation.INFO}
                            textarea.form-control(name="info")=profile.info
                        .form-group
                            button.btn(type='submit')
                                | #{translation.SAVE}
                                span.angle_arrow
                                    i.fa.fa-angle-right(aria-hidden='true')
                    a(href="/profile/changelogo") #{translation.CHANGE_LOGO}
            // /Profile-setting

    else if profile && profile.state == "req"
        .container
            br
            .user_profile_info.gray-bg.padding_4x4_40
                .dealer_info
                    h5 #{translation.YOU_HAVE_REQUESTED_A_PROFILE}
                    h5 #{translation.PLEASE_WAIT}

    else
        .container
            br
            .user_profile_info.gray-bg.padding_4x4_40
                .dealer_info
                    h5 #{translation.YOU_DONT_HAVE_A_PROFILE}
                    a.button.is-primary(href="/profile/createprofile") #{translation.PLEASE_CLICK_HERE}
    .container
        .user_profile_info.padding_4x4_40
            a(href="/auth/changepassword") #{translation.CHANGE_PASSWORD}
            br

    script(src='/js/jquery.min.js')
    script(src='/js/ajax/change-logo.js')